
.project
	
	h2
		a(href='http://www.lastwebsite.io/') The Last Website
	a(href='http://www.lastwebsite.io/')
		img(src='/images/tLW.jpg', width="300px")
			button(href='http://thebrotherschapman.bandcamp.com/') Buy Soundtrack | $5 or more