
.project
	
	h3
		a(href='http://www.lastwebsite.io/') The Last Website
	h6 Fri, May 4 2013
	p After 12 weeks of pushing and being pushed by myself my 
		a(href='http://thebrotherschapman.herokuapp.com/') Brothers
		|	and 
		a(href='http://www.opoloo.de/') Opoloo
		|, the Project 
		a(href='http://www.lastwebsite.io/') The Last Website
		|	is finally finished.
	a(href='http://www.lastwebsite.io/')
		img.projectimg(src='/images/tLW.jpg')
	a.buttonlink(href='http://thebrotherschapman.bandcamp.com/album/the-last-website')
		button Buy Soundtrack