.stream
	ul
		h6 Stream | Sat, May 11 2013
	p Got my site up and running!
.stream
	ul
		h6 Project | Fri, May 4 2013
		h3 
			a(href='/projects/thelastwebsite') The Last Website
		li <iframe width="300" height="100" style="position: relative; display: block; width: 300px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=1119732891/size=grande/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://thebrotherschapman.bandcamp.com/album/the-last-website">The Last Website by The Brothers Chapman &amp; Opoloo</a></iframe>
	a(href='/projects/thelastwebsite') more about this project →