.projectfull
	.projectfullpreview
		h4 Latest Activity
		p
		.stream
			h6.streamdate Sat, May 11
			p Got my site up and running!
		.stream
			h6.streamdate Fri, May 3
			p Published 
				a(href='/projects/thelastwebsite') The Last Website
				|	<iframe width="46" height="23" style="position: relative; display: inline-block; vertical-align: middle; width: 46px; height: 23px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/track=2974533486/size=short/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://thebrotherschapman.bandcamp.com/track/the-last-website">The Last Website by The Brothers Chapman &amp; Opoloo</a></iframe>
			a(href='/projects/thelastwebsite')