.sheet
	.sheet_body
		h4 Latest Activity
		table(cellpadding='12px')
			tr
				td.date JUNE 13
				td Published
					a(href="http://blog.opoloo.com/articles/the-music-of-the-last-website") The Music of the Last Website

			tr
				td.date MAY 31
				td Redesigned my website
			tr
				td.date MAY 24
				td Started learning 
					a(href='http://backbonejs.org/') Backbonejs
			tr
				td.date MAY 16
				td My 
					a(href='http://www.arturia.com/evolution/en/products/MiniLab/intro.html') Arturia minilab
					|  arrived.
			tr
				td.date MAY 11
				td Got my site up and running!
			tr
				td.date MAY 3
				td Published 
					a(href='http://www.lastwebsite.io/') The Last Website