.projectfull
	.projectfullpreview
		h3 The Last Website
		p After 12 weeks of pushing and being pushed by myself my 
			a(href='http://thebrotherschapman.herokuapp.com/') Brothers
			|	and 
			a(href='http://www.opoloo.de/') Opoloo
			|, the Project 
			a(href='http://www.lastwebsite.io/') The Last Website
			|	is finally published.
		a(href='http://www.lastwebsite.io/')
			img.projectimg.scale-with-grid(src='/images/tLW.png')
		<br/>
		<br/>
		
		<iframe width="150" height="450" style="margin: auto; position: relative; display: block; width: 150px; height: 450px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=1119732891/size=tall2/bgcol=FFFFFF/linkcol=a02c31/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://thebrotherschapman.bandcamp.com/album/the-last-website">The Last Website by The Brothers Chapman &amp; Opoloo</a></iframe>
	.cardbottom
		h6 Published: Fri, May 3 2013
