extends layout

block content
	.projectfull
		.projectfullpreview
			h4 Status
			form(method='post')
				p.status Online
				input(type='radio', name='status', value='online', checked)
				p.status Offline
				input(type='radio', name='status', value='offline')
				input(type='submit', name='submit', value='Set Status')