extends layout

block content
	include ../stream.jade

	br

	p.italic.faded This site is built on a variation of 
		a(href='http://bitters.evbogue.com/') Bitters
		|, a simple-as-possible Git-based website designed by 
		a(href='http://evbogue.com/') this fine fellow
		|; deployed using 
		a(href='http://nodejs.org') Node.js
		|.