doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon', href='/images/profile.jpg')
    script(type='text/javascript', src='/javascripts/highlight.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    script(src='/javascripts/hummingbird.js')

body
  script(type='text/javascript') hljs.initHighlightingOnLoad();
  .container.center
    .three.columns.offset-by-two.sidebar
      img(src="/images/profile.jpg")
      h1.text_center I'm Nathan Chapman
      p.italic.text_center Musician & Auralist for 
        a(href='http://thebrotherschapman.herokuapp.com/') The Brothers Chapman.
        |  I make music that moves me.
      br
      p
        a(href='http://nathanjchapman.bandcamp.com/') Bandcamp
      p
        a(href='https://github.com/nathanjc') Github
    .seven.columns.offset-by-two
      block content

  script
    HummingbirdTracker.track();