doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon', href='/images/profile.jpg')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    script(type='text/javascript', src='/javascripts/highlight.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/hummingbird.js')

body
  script(type='text/javascript') hljs.initHighlightingOnLoad();
  .container
    .five.columns.sidebar 
      include sidebar.jade
    .ten.columns.offset-by-one
      .navbar
        h5
          a(href='/') Stream
        h5
          a(href='/projects') Projects
      block content

  script
    HummingbirdTracker.track();