extends layout

block content
	.projectfull
		.projectfullpreview
			h4 Log In
				form(method='post')
					input(type='text', name='user', placeholder='username')
					input(type='password', name='password', placeholder='password')
					input(type='submit', name='submit', value='Log In')