
img(src='/images/njc_logo.png')

h3 NathanJC

p NathanJC is a simple-as-possible Git-based website built with Express, Jade, and Stylus and deployed using Node.js.

h3 Currently Working On

p Another secret project