img#profile_img(src="/images/profile.jpg", width="100%", class="profile")
h3 I'm Nathan Chapman
p of 
	a(href='http://thebrotherschapman.herokuapp.com/') The Brothers Chapman
	|. I'm a musician fascinated by the body. I make music that moves me.