
body 
  background #f5f5f5 url('/images/noise.png')
  font-family "Source Sans Pro", sans-serif
  color #222
  padding-top 4em
  padding-bottom 5em

h1, h2, h3, h4, h5
  font-family "Source Sans Pro", sans-serif
  color #222

h6
  font-family "Ubuntu Mono Regular"
  color #7e8082

p 
  font-size 1em
  font-family "Source Sans Pro", sans-serif

ul
  margin-top 32px
  font-size 32px

li
  margin-bottom 16px
  margin-top 16px
  font-size 16px

pre 
  border 1px solid #f5f5f5 
  background #fff url(/images/noise.png) 
  font-family "Ubuntu Mono", monospace; margin-bottom: 1em

code 
  border-radius: 5px

.project
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background #eeeeee
  border: 1px solid #bfbfbf;
  box-shadow: 0 2.5px #bfbfbf;
  color: #7b7b7b;
  display: inline-block;
  width 225px
  height 250px
  text-decoration none
  margin-top 25px
.projectfull
  padding-top 25px

.projectcontentpreview
  padding 10px


.buttonlink
  text-decoration none

.projectimg
  padding-top 16px

.morelink
  padding 0
  margin 0
  margin-bottom 16px
  float right

.profile 
  padding 1px
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

.streamdivide
  padding-top 8px
  border-bottom solid #bfbfbf
  border-bottom-width 1px

.navbar h5
  display inline-block

.navbar a
  color #222
  margin-right 2em

.project
  padding-top 16px

@font-face
  font-family "Source Sans Pro Light"
  src url(/fonts/SourceSansPro-Light.ttf) 
  font-weight 300
@font-face
  font-family "Source Sans Pro"
  src url(/fonts/SourceSansPro-Regular.ttf) 
  font-weight 400
@font-face
  font-family "Source Sans Pro"
  src url(/fonts/SourceSansPro-Bold.ttf) 
  font-weight 700
@font-face
  font-family "Source Sans Pro"
  src url(/fonts/SourceSansPro-LightItalic.ttf) 
  font-weight 300 
  font-style italic
@font-face
  font-family "Source Sans Pro"
  src url(/fonts/SourceSansPro-Italic.ttf) 
  font-weight 400 
  font-style italic
@font-face
  font-family "Source Sans Pro"
  src url(/fonts/SourceSansPro-BoldItalic.ttf) 
  font-weight 700 
  font-style italic
@font-face
  font-family "Ubuntu Mono Regular"
  src url(/fonts/UbuntuMono-R.ttf) 
  font-weight 400
@font-face
  font-family "Ubuntu Mono"
  src url(/fonts/UbuntuMono-RI.ttf) 
  font-weight 400 
  font-style italic
@font-face
  font-family "Ubuntu Mono"
  src url(/fonts/UbuntuMono-B.ttf) 
  font-weight 600
@font-face
  font-family "Ubuntu Mono"
  src url(/fonts/UbuntuMono-BI.ttf) 
  font-weight 600 
  font-style italic