body {
  font-family: "Nexa", sans-serif;
  padding-top: 4em;
  padding-bottom: 5em;
}
h1 {
  font-family: "NexaBold", sans-serif;
  font-size: 26px;
}
h4 {
  font-family: "Nexa", sans-serif;
  color: #a22619;
  font-size: 22px;
}
a {
  color: #222;
}
a:hover {
  color: #2f6580;
}
td {
  font-size: 16px;
  font-family: 'Nexa', serif;
}
p {
  font-size: 16px;
  font-family: 'NexaSlabLight', serif;
}
.date {
  font-family: "NexaSlabLight", serif;
  font-size: 16px;
  color: #6f6f6f;
  vertical-align: middle;
}
.italic {
  font-family: 'NexaSlabLightItalic', sans-serif;
  font-size: 14px;
}
.faded {
  color: #6f6f6f;
  font-family: 'NexaSlabLightItalic', serif;
}
.faded a {
  color: #6f6f6f;
}
.faded a:hover {
  color: #2f6580;
}
.text_center {
  text-align: center;
}
img {
  max-width: 150px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
  margin: auto;
}
@font-face {
  font-family: 'Nexa';
  src: url("/fonts/Nexa_Regular-webfont.eot");
  src: url("/fonts/Nexa_Regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Nexa_Regular-webfont.woff") format('woff'), url("/fonts/Nexa_Regular-webfont.ttf") format('truetype'), url("/fonts/Nexa_Regular-webfont.svg#nexa_regularregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaItalic';
  src: url("/fonts/Nexa_Regular_Italic-webfont.eot");
  src: url("/fonts/Nexa_Regular_Italic-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Nexa_Regular_Italic-webfont.woff") format('woff'), url("/fonts/Nexa_Regular_Italic-webfont.ttf") format('truetype'), url("/fonts/Nexa_Regular_Italic-webfont.svg#nexa_regular_italicitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url("/fonts/Nexa_Free_Bold-webfont.eot");
  src: url("/fonts/Nexa_Free_Bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Nexa_Free_Bold-webfont.woff") format('woff'), url("/fonts/Nexa_Free_Bold-webfont.ttf") format('truetype'), url("/fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaLight';
  src: url("/fonts/Nexa_Free_Light-webfont.eot");
  src: url("/fonts/Nexa_Free_Light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Nexa_Free_Light-webfont.woff") format('woff'), url("/fonts/Nexa_Free_Light-webfont.ttf") format('truetype'), url("/fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaLightItalic';
  src: url("/fonts/Nexa_Light_Italic-webfont.eot");
  src: url("/fonts/Nexa_Light_Italic-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Nexa_Light_Italic-webfont.woff") format('woff'), url("/fonts/Nexa_Light_Italic-webfont.ttf") format('truetype'), url("/fonts/Nexa_Light_Italic-webfont.svg#nexa_light_italicitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaSlab-Regular';
  src: url("/fonts/273849_10_0.eot");
  src: url("/fonts/273849_10_0.eot?#iefix") format('embedded-opentype'), url("/fonts/273849_10_0.woff") format('woff'), url("/fonts/273849_10_0.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaSlabRegularItalic';
  src: url("/fonts/273849_11_0.eot");
  src: url("/fonts/273849_11_0.eot?#iefix") format('embedded-opentype'), url("/fonts/273849_11_0.woff") format('woff'), url("/fonts/273849_11_0.ttf") format('truetype');
  font-style: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaSlabLight';
  src: url("/fonts/Nexa_Slab_Light-webfont.eot");
  src: url("/fonts/Nexa_Slab_Light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/Nexa_Slab_Light-webfont.woff") format('woff'), url("/fonts/Nexa_Slab_Light-webfont.ttf") format('truetype'), url("/fonts/Nexa_Slab_Light-webfont.svg#nexa_slab_lightregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url("//hello.myfonts.net/count/273849");
@font-face {
  font-family: 'NexaSlabRegularItalic';
  src: url("/fonts/273849_11_0.eot");
  src: url("/fonts/273849_11_0.eot?#iefix") format('embedded-opentype'), url("/fonts/273849_11_0.woff") format('woff'), url("/fonts/273849_11_0.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaSlab-Bold';
  src: url("/fonts/273849_2_0.eot");
  src: url("/fonts/273849_2_0.eot?#iefix") format('embedded-opentype'), url("/fonts/273849_2_0.woff") format('woff'), url("/fonts/273849_2_0.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaSlabLightItalic';
  src: url("/fonts/273849_D_0.eot");
  src: url("/fonts/273849_D_0.eot?#iefix") format('embedded-opentype'), url("/fonts/273849_D_0.woff") format('woff'), url("/fonts/273849_D_0.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaSlab-Light';
  src: url("/fonts/273849_E_0.eot");
  src: url("/fonts/273849_E_0.eot?#iefix") format('embedded-opentype'), url("/fonts/273849_E_0.woff") format('woff'), url("/fonts/273849_E_0.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
